<edu.rutgers.winlab.junsim.Config>
  <beta>0.65</beta>
  <numTransmitters>20</numTransmitters>
  <numReceivers>20</numReceivers>
  <radioPower>2.0</radioPower>
  <radioAlpha>2.68</radioAlpha>
  <squareSize>500.0</squareSize>
  <universeSize>500.0</universeSize>
  <randomSeed>2</randomSeed>
  <showDisplay>false</showDisplay>
  <numTrials>100</numTrials>
  <outputFileName>trials-20.csv</outputFileName>
  <numThreads>2</numThreads>
</edu.rutgers.winlab.junsim.Config>

